.main-content {
	background-color: #5C5457;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

.title {
	font-size: 42px;
	font-family: "Oswald", sans-serif;
	color: #FFF;
	margin-top: 5px;
	margin-bottom: 0;
	padding-left: 80px;
	padding-top: 38px;
	padding-bottom: 38px;
}

.channels {
	padding: 0;
	margin: 0;
	background-color: #FFF;
}

.channels li {
	background-color: #4A5E82;
	display: block;
	list-style: none;
	border-top: 3px solid #FFF;
}

.channels li:last-child {
	border-bottom: 3px solid #FFF;
}

.chan-container {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
}

.chan-item {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: inline-flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.chan-logo {
	width: 100px;
	height: 100px;
}

.chan-title {
	font-family: "Droid Serif", serif;
	font-size: 1.5em;
	color: #b8cca6;
	flex: 2;
	margin-left: 25%;
}

.chan-status {
	flex: 2;
	color: #8ea7c2;
	font-size: 1.5em;
	float: right;
	font-family: "Droid Serif", serif;
}