.main-content {
	background-color: #5C5457;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

.content-head {
	position: relative;
}

.title {
	font-size: 42px;
	font-family: "Oswald", sans-serif;
	color: #FFF;
	margin-top: 5px;
	margin-bottom: 0;
	padding-left: 80px;
	padding-top: 38px;
	padding-bottom: 38px;
}

.channels {
	padding: 0;
	margin: 0;
	background-color: #FFF;
}

.channels li {
	background-color: #4A5E82;
	display: block;
	list-style: none;
	border-top: 3px solid #FFF;
}

.channels li:last-child {
	border-bottom: 3px solid #FFF;
}

.chan-container {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
}

a {
	text-decoration: none;
}

.chan-item {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: inline-flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chan-logo {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.chan-title {
	font-family: "Droid Serif", serif;
	font-size: 1.5em;
	color: #b8cca6;
	flex: 2;
	justify-content: flex-start;
	margin-left: 30px;
}

.chan-status {
	flex: 4;
	color: #8ea7c2;
	font-size: 1.5em;
	justify-content: center;
	text-align: center;
	font-family: "Droid Serif", serif;
}

li .chan-container a {
	color: #8ea7c2;	
}

li .chan-container.stream-on {
	background-color: #B8CCA6;
}

li .chan-container.stream-on .chan-title,
li .chan-container.stream-on .chan-status a {
	color: #000;	
}

.display-options {
	list-style: none;
	position: absolute;
	right: 0%;
	top: 1%;
	padding-left: 0;
	z-index: 5;
	width: 28px;
}

.disp-option {
	font-size: 1.3em;
	background-color: #E1E1E6;
	margin-bottom: 6px;
	width: 28px;
	height: 26px;
	display: block;
	position: relative;
	overflow: hidden;
	float: right;
	clear: right;
}

.disp-all {}
.disp-online {}
.disp-offline {}

.disp-circ {
	display: inline-block;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 5px;
}

.disp-option .disp-circ {
	background-color: #5C5457;	
}

.disp-online .disp-circ {
	background-color: #B8CCA6;	
}

.disp-offline .disp-circ {
	background-color: #4A5E82;
}

.disp-opt-open {
	width: 110px;
	transition: width 0.50s;
}

.disp-opt-close {
	width: 28px;
	transition: width 0.50s;
}

.disp-opt-text {
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	color: #5C5457;
	display: block;
	float: right;
	line-height: 26px;
	height: 26px;
	margin-right: 10px;
	cursor: default;
}

.hidden {
	display: none;
}